//@include absobuteLoc(50%,50%);
//parent's position should be "relative";
@mixin absobuteLoc($top, $left) {
    width: fit-content;
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-$left, - $top);
}

//@include rectBtn(0.25em, 0.25em, 0.5em, 1.5em, 3px);
//@include rectBtn($ml, $mr, $pv, $ph, $br);
@mixin rectBtn($ml, $mr, $pv, $ph, $br) {
    margin-left: $ml;
    margin-right: $mr;
    width: fit-content;
    padding: $pv $ph;
    border-radius: $br;
    cursor: pointer;
    text-align: center;
}

//@include inlineBar(black,1em,1px,0,-0.25em,0,0.2vw);
//@mixin inlineBar($clr, $w, $h, $trsX, $trsY, $mv, $mh)
@mixin inlineBar($clr, $w, $h, $trsX, $trsY, $mv, $mh) {
    display: inline-block;
    background-color: $clr;
    width: $w;
    height: $h;
    border: 1px solid $clr;
    transform: translate($trsX, $trsY);
    margin: $mv $mh;
}

// @include BGPic("https://images.unsplash.com/photo-1510520001634-6af954f45759?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjN8NjIyNDgyMjB8fGVufDB8fHx8&auto=format&fit=crop&w=500");
// cons:class need to be unique for url
@mixin BGPic($url) {
    background: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

//@include BGPicInlineURL;
// need a wrapper div to determine size
@mixin BGPicInlineURL {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

//@include wholeImg(30vw,30vw);
// cons:takes too long to load
@mixin wholeImg($w, $h) {
    width: $w;
    height: $h;
    object-fit: cover;
}

//@include animHoverUp;
@mixin animHoverUp {
    &:hover {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        transform: translate(0, -2px);
    }
}

//@include charDeg(90);
@mixin charDeg($deg) {
    transform: translate(2px, 1px) rotate($deg);
}


//position: relative; /*required*/
//@include  hoverUnderline
@mixin hoverUnderline {
    &::after {
        transition: all 0.2s ease-in-out;
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: transparent;
    }

    &:hover::after {
        background-color: $cPinkL;
    }
}

/*RWD*/
@mixin desktop-below {
    @media (max-width: 1023px) {
        @content
    }
}

@mixin pad {
    @media (max-width: 768px) {
        @content
    }
}

@mixin mobile {
    @media (max-width: 568px) {
        @content
    }
}