@import './_mixin.scss';
@import './_variables.scss';

/*color*/
/*babkground*/
.bgWhite {
    background-color: white;
}

.bgPurple {
    background-color: $cPurple;
}

.bgPink {
    background-color: $cPink;
}

/*text*/
.textWhite {
    color: white;
}

.textPurple {
    color: $cPurple;
}

.textBlack {
    color: black;
}

.textNoUnderline {
    text-decoration: none;
}

/*padding*/
.pr2em {
    padding-right: 2em;
}

/*border*/
.borPurple {
    border: 1px solid $cPurple;
}

.borPink {
    border: 1px solid $cPink;
}

.borWhite {
    border: 1px solid white;
}

/*flexbox*/
.jcfs {
    justify-content: flex-start;

}

.jcfe {
    justify-content: flex-end;
}

/*display*/
.inlBlk {
    display: inline-block;
}

.nonDisplay {
    display: none;
}

.invisible {
    visibility: hidden;
}

.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}

/***below corresponding elements should be refactor as a react UI component***/

.sectionContainer {
    margin: 5%;
    background-color: white;
    padding: 2vmin 3vmin;
}

.sectionContainerTitle {
    font-size: 40px;
    font-weight: 600;
    padding: 20px 10px;
}

.iconFb {
    display: inline-block;
    margin: 0 2vw 0 1vw;
    width: 20px;
    transform: translate(0, 2px);

    &:hover {
        cursor: pointer;
    }

}

/*overlay index*/

.modalTopOverlayZIndex {
    z-index: 100;
}

.modalTopBackdropZIndex {
    z-index: 99;
}

.modalSecondOverlayZIndex {
    z-index: 98;
}

.modalSecondBackdropZIndex {
    z-index: 97;
}