@import '../../globalCss/_variables.scss';
@import '../../globalCss/_mixin.scss';

.cart {
    position: relative;
}

.itemNumberContainer {
    background-color: $cPink;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: 20px;
}

.itemNumber {
    color: white;
    display: inline-block;
    transform: translate(8px, 5px);
}

.cartIcon {
    margin: 0 25px 0 1vw;
    width: 40px;

    &:hover {
        cursor: pointer;
    }
}

.cartList {
    width: 60vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    right: 0;
    top: 5vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 2vw;

    transition: all 0.2s ease-in-out;

    @include pad {
        width: 97vw;
    }

}

.cartTitle {
    color: White;
    font-size: calc(8px + 1.5vmin);
}

.cartItems {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0.2vw;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $cPink;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $cPink;
    }

    .cartItem {
        padding: 2.5vmin 2.5vmin 2.5vmin 0;
        width: 98%;
        margin: 1vmin 0;
        display: flex;
        background-color: white;
        border-radius: 5px;

        .deleteItemWrapper {
            display: inline-block;
            width: 4vmin;
            position: relative;

            .deleteItem {
                position: absolute;
                top: -2vmin;
                left: 1.5vmin;
                cursor: pointer;
            }
        }


        .itemPic {
            flex-basis: 30%;
        }

        .itemInfo {
            flex-basis: 40%;
            padding: 1vmin;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .itemInfoTitle {
                font-size: calc(5px + 1.5vmin);
                font-weight: 700;
                margin-bottom: 1vmin;
            }

            .itemInfoDate {
                font-size: calc(4px + 1.5vmin);
                margin-bottom: 1vmin;

                .mh {
                    margin: 0 0.2vw;
                }

                .inlineBar {
                    @include inlineBar(black, 1em, 1px, 0, -0.25em, 0, 0.2vw);
                }

            }

            .itemInfoType {
                font-size: calc(3px + 1.5vmin);
                color: $cGray;
                margin-bottom: 1vmin;
            }

            .itemInfoPrice {
                font-size: calc(7px + 1.5vmin);
                margin-bottom: 1vmin;
                font-weight: 800;
            }

            @include pad {
                padding-left: 3vw;

                .mh {
                    margin: 0 1.5vw;
                }
            }
        }

        .itemAdjust {
            flex-basis: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: calc(7px + 1.5vmin);

            .mh {
                margin: 0 0.8vw;
            }

            .minus {
                @include inlineBar(black, 0.8em, 1px, -0.5vw, 0, 0, 0.2vw);
                //@mixin inlineBar($clr, $w, $h, $trsX, $trsY, $mv, $mh)
            }

            .plus {
                font-size: calc(20px + 1.5vmin);
                transform: translate(-0.1em, -0.12em);
            }

            @include pad {
                margin-right: 3vw;

                .mh {
                    margin: 0 1.5vw;
                }
            }
        }
    }

}



.m1vw {
    margin: 1vw;
}

.mb {
    margin-bottom: 1vmin;
}

.cartPrice {
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-between;
    margin: 10px;
}

.cartPrice2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pr2em {
    padding-right: 2em;
}

.cartSpan {
    display: flex;
    align-items: center;
}

.checkoutBtn {
    @include rectBtn(0, 0, 0.5em, 2em, 3px);

    a {
        color: $cPurple;
        text-decoration: none;
    }
}